allow rild self:netlink_socket { create bind read write };
allow rild self:netlink_route_socket { write };

# Grant access to Qualcomm MSM Interface (QMI) radio sockets to RILD
qmux_socket(rild)

# Allow logging diagnostic items
allow rild diag_device:chr_file rw_file_perms;

# XXX label with own type?
allow rild sysfs:file { read open write getattr };
